@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  
:root  {
  --background: 215.3 100% 95%;
  --foreground: 215.3 5% 10%;
  --card: 215.3 50% 90%;
  --card-foreground: 215.3 5% 15%;
  --popover: 215.3 100% 95%;
  --popover-foreground: 215.3 100% 10%;
  --primary: 215.3 19.3% 34.5%;
  --primary-foreground: 0 0% 100%;
  --secondary: 215.3 30% 70%;
  --secondary-foreground: 0 0% 0%;
  --muted: 177.3 30% 85%;
  --muted-foreground: 215.3 5% 35%;
  --accent: 177.3 30% 80%;
  --accent-foreground: 215.3 5% 15%;
  --destructive: 0 100% 30%;
  --destructive-foreground: 215.3 5% 90%;
  --border: 215.3 30% 50%;
  --input: 215.3 30% 26%;
  --ring: 215.3 19.3% 34.5%;
  --radius: 0.5rem;
}
.dark  {
  --background: 215.3 50% 10%;
  --foreground: 215.3 5% 90%;
  --card: 215.3 50% 10%;
  --card-foreground: 215.3 5% 90%;
  --popover: 215.3 50% 5%;
  --popover-foreground: 215.3 5% 90%;
  --primary: 215.3 19.3% 34.5%;
  --primary-foreground: 0 0% 100%;
  --secondary: 215.3 30% 20%;
  --secondary-foreground: 0 0% 100%;
  --muted: 177.3 30% 25%;
  --muted-foreground: 215.3 5% 60%;
  --accent: 177.3 30% 25%;
  --accent-foreground: 215.3 5% 90%;
  --destructive: 0 100% 30%;
  --destructive-foreground: 215.3 5% 90%;
  --border: 215.3 30% 26%;
  --input: 215.3 30% 26%;
  --ring: 215.3 19.3% 34.5%;
  --radius: 0.5rem;
}

}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}